<div class="fade">
  <div class="submit-container">
    <form action="/answer" method="get">
      <input type="text" name="question" value="<%= params[:question] %>" placeholder="How can I help?">
      <input type="submit" value="Ask!">
    </form>
  </div>
  <section class="crawl-container">
    <div class="crawl">
      <div class="title">
        <p>The Oracle Speaks:</p>
        <h1>Hello Seeker</h1>
      </div>
      <p>I am The Oracle, you may ask me any question you like and I will do my best to respond.</p>
      <p>Although I must warn you, I'm a bit of a Blind Oracle, so I really can't say too much.</p>
      <p>But!</p>
      <p>If you ask me the <strong>right</strong> question, the most important one, then I may reveal the answer to the universe.</p>
      <p>Can you guess what the question might be? </p>
    </div>
  </section>
</div>
