// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 // Defining a variable

 body {
   background: white;
 }

#q-container {
  background: #F4F4F4;
}

#a-container {
  background: #FEFDE1;
}
